/* Add a background color to the header element */

header{ 
    background-color: blue;
    color: wheat; 
    text-align:  center;
    padding: 20px;
}

main{

    background-color: lightcoral;
}
footer{
    background-color: beige;
    color: #000;
    padding: 10px;
    text-align: center;
}
footer p {
    color: antiquewhite;
    font-style: italic;
}
ul {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
img {
    border: 2px solid black;
    padding: 5px;
}

/* Add a fun background color to the main element */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */

/* Add a background color to the footer element */